<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite thread-count="1" verbose="1" name="Regression Suite" annotations="JDK" parallel="tests">
    <test name="Regression1">
    
        <classes>
        
            <class name="PageTestcases.SplashScreenPageTestcases" />
            <class name="PageTestcases.LoginScreenPageTestcases"/>
            <class name="PageTestcases.HomeScreenPageTestcases"/>
                                                 
        </classes>
        
    </test>
</suite>
